absl-py==2.1.0
accelerate==0.27.2
addict==2.4.0
aiohttp==3.9.5
aiosignal==1.3.1
antlr4-python3-runtime==4.9.3
asttokens==2.4.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.2.0
black==24.4.2
blinker==1.8.2
cachetools==5.3.3
certifi==2024.2.2
chardet==5.2.0
charset-normalizer==3.3.2
chumpy==0.70
click==8.1.7
cloudpickle==3.0.0
coloredlogs==15.0.1
comm==0.2.2
ConfigArgParse==1.7
contourpy==1.2.0
cycler==0.12.1
dash==2.17.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
decorator==5.1.1
detectron2 @ git+https://github.com/facebookresearch/detectron2.git@70f454304e1a38378200459dd2dbca0f0f4a5ab4
-e git+https://github.com/huggingface/diffusers@cbea5d1725a09e7f45a145bbeb4fab7539b0faa0#egg=diffusers
dlib==19.24.2
dm-tree==0.1.8
exceptiongroup==1.2.1
executing==2.0.1
fastjsonschema==2.20.0
filelock==3.13.1
Flask==3.0.3
flatbuffers==24.3.7
fonttools==4.50.0
frozenlist==1.4.1
fsspec==2024.3.1
fvcore==0.1.5.post20221221
gast==0.4.0
google-auth==2.28.2
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.62.1
h5py==3.10.0
huggingface-hub==0.21.4
humanfriendly==10.0
hydra-core==1.3.2
idna==3.6
imageio==2.19.2
imgaug==0.4.0
importlib_metadata==7.0.2
importlib_resources==6.3.1
imutils==0.5.4
iopath==0.1.9
ipython==8.18.1
ipywidgets==8.1.3
itsdangerous==2.2.0
jax==0.4.25
jedi==0.19.1
Jinja2==3.1.2
joblib==1.4.2
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter_core==5.7.2
jupyterlab_widgets==3.0.11
keras==2.11.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.5
KNN-NanoFLANN==0.0.0
lazy_loader==0.3
libclang==18.1.1
lightning-utilities==0.11.3.post0
llvmlite==0.43.0
lmdb==1.3.0
loguru==0.7.2
lxml==4.9.1
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.3
matplotlib-inline==0.1.7
mdurl==0.1.2
ml-dtypes==0.3.2
mmcv==1.7.2
mmengine==0.10.4
mpmath==1.3.0
multidict==6.0.5
mypy-extensions==1.0.0
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
normalSpeed==0.0.1
numba==0.60.0
numpy==1.23.4
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==8.7.0.84
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.5.86
nvidia-nccl-cu11==2.19.3
nvidia-nvtx-cu11==11.8.86
oauthlib==3.2.2
omegaconf==2.3.0
onnx==1.12.0
onnx-tf==1.10.0
onnxruntime==1.10.0
onnxsim==0.4.36
open3d==0.18.0
opencv-python==4.5.5.62
opt-einsum==3.3.0
packaging==24.0
pandas==1.3.4
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
pillow==10.4.0
platformdirs==4.2.2
plotly==5.22.0
portalocker==2.10.0
prompt_toolkit==3.0.47
protobuf==3.19.1
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycocotools==2.0.8
pyDeprecate==0.3.2
Pygments==2.17.2
pyparsing==3.1.2
pypng==0.20220715.0
pyquaternion==0.9.9
python-dateutil==2.9.0.post0
python-gflags==3.1.2
pytorch-lightning==1.6.0
pytz==2024.1
PyWavelets==1.5.0
PyYAML==6.0.1
referencing==0.35.1
regex==2024.5.10
requests==2.31.0
requests-oauthlib==1.4.0
retrying==1.3.4
rich==13.7.1
rpds-py==0.18.1
rsa==4.9
safetensors==0.4.2
scikit-image==0.20.0
scikit-learn==1.5.0
scipy==1.9.1
setproctitle==1.3.3
shapely==2.0.3
six==1.16.0
stack-data==0.6.3
sympy==1.12
tabulate==0.9.0
tenacity==8.4.2
tensorboard==2.11.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5.1
tensorflow==2.11.0
tensorflow-addons==0.18.0
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.36.0
tensorflow-probability==0.16.0
termcolor==2.4.0
tf-estimator-nightly==2.8.0.dev2021122109
tflite-runtime==2.11.0
threadpoolctl==3.5.0
tifffile==2024.2.12
timm==0.6.7
tokenizers==0.19.1
tomli==2.0.1
torch==2.2.1+cu118
torchaudio==2.2.1+cu118
torchmetrics==1.4.0.post0
torchvision==0.17.1+cu118
tqdm==4.66.2
traitlets==5.14.3
transformers==4.40.2
transforms3d==0.4.2
triton==2.2.0
typeguard==2.13.3
typing_extensions==4.10.0
urllib3==2.2.1
wcwidth==0.2.13
Werkzeug==3.0.1
widgetsnbextension==4.0.11
wrapt==1.14.1
yacs==0.1.8
yapf==0.40.2
yarl==1.9.4
zipp==3.18.1
